body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

h1{
    text-align: center;
    color: 30px;
    color: antiquewhite;
}

h2{
    text-align: center;
    margin-top: 10px;
    color: white;
}

.calculadora{
    width: 400px;
    margin: 0 auto;
    background-color: skyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

#pantalla {
    width: 100%;
    padding: 6px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
}

input[type="button"]{
    width: 70px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: #ddd;
}

input[type="button"]:last-child{
    margin-right: 0;
}

